In [5]:
### Crop and Fertilizer Recommendation System using ML

# Importing necessary libraries

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

# Loading the dataset

crop=pd.read_csv("Crop_recommendation.csv")

crop.head() # Returns starting 5 rows

crop.tail() # Returns last 5 rows

crop.shape # shape Returns rows and columns

crop.info() # Returns info of dataset

crop.isnull() # Check for missing values

crop.isnull().sum() # Returns the sum of missing values

crop.duplicated() # Check for duplicated values

crop.duplicated().sum() # Return sum of duplicated values

crop.describe() # To check the statistics of the dataset

crop.columns # Shows all the columns

crop['label'].value_counts() # Check feature of specific columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64